*
!*/
!**/docker-compose.yml
!**/docker-compose.yaml
!**/*.sh
!/*.gitignore
!**/README.md
**/prometheus/**/README.md
**/ollama/**/README.md
**/mealie/**/README.md
**/nextcloud/**/*.md
**/homeassistant/ha/config/
**/homeassistant/esphome/
**/homeassistant/codeserver/
